.container {
  /* width: 300px;
  flex-wrap: wrap;
  justify-content: space-around; -- basic flex 4 */
  width: 300px;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* basic flex 5 */
  display: flex;
  /* flex-direction: row-reverse; -- basic flex 2 */
  /* flex-direction: column-reverse; -- basic flex 3 */
}

.item {
  width: 150px;
  height: 150px;
}

.green {
  background-color: #51d400;
}

.yellow {
  background-color: #ffd62a;
}

.purple {
  background-color: #b02afe;
}
